# Common
LOG_LEVEL=info
DB_HOST=postgres
DB_PORT=5432
DB_USER=postgres
DB_PASSWORD=secret
DB_NAME=explorer_db
REDIS_ADDR=redis:6379
NATS_URL=nats://nats:4222

# Service config paths
CONFIG_PATH=./configs/common.yaml
EVM_INDEXER_CONFIG=./configs/evm-indexer.yaml
DAG_INDEXER_CONFIG=./configs/dag-indexer.yaml
API_GATEWAY_CONFIG=./configs/api-gateway.yaml
STATS_SERVICE_CONFIG=./configs/stats-service.yaml
TRACE_SERVICE_CONFIG=./configs/trace-service.yaml
SEARCH_SERVICE_CONFIG=./configs/search-service.yaml
CONTRACT_SERVICE_CONFIG=./configs/contract-service.yaml
WS_SERVICE_CONFIG=./configs/ws-service.yaml
